
:root {
    --bg: #f1809c;
    --calculator-bg: #a7edfa;
    --header-bg: #ffffff;
    --text: #0b0101;
    --display-bg: #eaeaea;
    --display-text: #000;
    --key-bg: #ffffff;
    --key-text: #111;
    --key-shadow: rgba(0, 0, 0, 0.15);
    --operator-bg: #ffd166;
    --equals-bg: #0c7b5e;
    --function-bg: #120407;
}


html[data-theme="dark"] {
    --bg: #282b39;
    --calculator-bg: #25334b;
    --header-bg: #394872;
    --text: #ffffff;
    --display-bg: #020617;
    --display-text: #ffffff;
    --key-bg: #334155;
    --key-text: #f1f5f9;
    --key-shadow: rgba(0, 0, 0, 0.6);
    --operator-bg: #ffffff;
    --equals-bg: #ffffff;
    --function-bg: #510000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}


.cal-contain {
    width: 360px;
}

.calc-header {
    background: var(--header-bg);
    padding: 12px 16px;
    border-radius: 14px 14px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-header h1 {
    font-size: 1.2rem;
}

#themeToggle {
    border: none;
    background: transparent;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--text);
}

.calculator {
    background: var(--calculator-bg);
    padding: 16px;
    border-radius: 0 0 14px 14px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}


.display {
    width: 100%;
    height: 64px;
    margin-bottom: 14px;
    padding: 12px;
    font-size: 1.8rem;
    text-align: right;
    border: none;
    border-radius: 10px;
    background: var(--display-bg);
    color: var(--display-text);
}



.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.key {
    height: 52px;
    border-radius: 12px;
    border: none;
    background: var(--key-bg);
    color: var(--key-text);
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 4px 0 var(--key-shadow);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.key:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 var(--key-shadow);
}

.key.operator {
    background: var(--operator-bg);
    color: #000;
}

.key.equals {
    background: var(--equals-bg);
    color: #000;
    grid-column: span 2;
}

.key.function {
    background: var(--function-bg);
    color: #fff;
}

.key.zero {
    grid-column: span 2;
}


.credit {
    margin-top: 8px;
    text-align: center;
    font-size: 0.75rem;
    opacity: 0.6;
}
