/* *{
    margin: 0;
    padding: 0;
} */
body {
    margin: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    overflow: hidden;
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: bisque;
    width: 50%;
    margin-left: 25%;
 
}

span {
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-512.png");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events:none;
    background-size: cover;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    animation: animate 6s linear;

}
@keyframes animate{
    0%{
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
    }
    100%{
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
    }
}