
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2f2;
    line-height: 1.6;
    padding-bottom: 50px;
}

header {
    background-color: #005461;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s ease;
}

header nav ul li a:hover {
    color: #ffdd57;
}

#search {
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: none;

}



.post {
    background: #f7f1f1;
    width: 80%;
    margin: 40px auto;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post h1 {
    margin-bottom: 10px;
    color: #005461
}

.date {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: bold;
}

.post img {
    width: 50%;
    border-radius: 10px;
    margin: 15px 0;
}
ul, ol {
    margin-left: 20px;
    margin-top: 10px;

}
h2, h3 {
    margin-top: 15px ;
    color: #00043a;


}

.commentForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}
.commentForm input, .commentForm textarea{
padding: 10px;
border-radius: 5px;
border: 2px solid #aaa;
}
button{
 background: #b4fffe;
color: #000000;
padding: 10px 20px;
border-radius: 5px;
border: none;
cursor: pointer;
margin-top: 10px;
transition: 0.2s ease;   
font-weight: bold;
font-size: large;
}
button:hover {
background:#ffdd57;
}