  
      body {
        background-color: #ff93a1;
        color: #fff;
      }
      .center {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #clock {
        font-size: 40px;
        background-color: rgb(180, 193, 255);
        padding: 20px 50px;
        margin-top: 10px;
       
        border-radius: 100px;
        color: black;
        
      }
      #link{
  background-color:rgb(180, 193, 255) ;
    color: black;
    text-decoration: none;
    margin: 10px;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: xx-large;
    font-weight: bolder;
        border-radius: 100%;
      }
    #home  {
  background-color:rgb(180, 193, 255) ;
    color: black;
    text-decoration: none;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
      font-size: xx-large;
    font-weight: bolder;
    border-radius: 100%;
      }