*{
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color:lightpink;
 font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

}
